<script>
  function getHost() {
    return 'http://<%= host %>/'; 
  }
</script>

<head>
  <link rel="stylesheet" type="text/css" href="/css/chat.css"> 
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script src="/js/chat.js" type="text/javascript"></script>
</head>



<div class="users-container">
  <b>Users:</b>
  <div id="users"></div>
</div>

<div class="conversation-container">
  <input type="text" id="data" value="" />
  <input type="button" id="datasend" value="send"/>
  <div id="conversation"></div>
</div>
