<!DOCTYPE html>
<html>
    <head>
      <% include header_files %>
    </head>

    <body>
    <% include navbar %> 
    <% if(error != null) { %> 
      <div class="alert alert-error"><%= error %></div>
    <% } %>
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="form">
                <form name="input" action="login" method="post">
                    <input type="text" name="user" placeholder="Who are you?">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
    </body>
    
</html>
