<div class="navbar">
  <div class="navbar-inner">
      <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Censor.me</a>
          <div class="nav-collapse collapse">
              <p class="navbar-text pull-right"> <a href="/logout">Logout</a></p>
              <ul class="nav">
                  <li>
                      <a href="/">Conversation</a>
                  </li>
                  <li>
                      <a href="/about">About Us!</a>
                  </li>
                  <li>
                      <a href="/country_laws">Country Laws</a>
                  </li>
                  <li>
                      <a href="/rules">Rules</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
