.users-container { 
  float:left;
  width:100px;
  border-right:1px solid black;
  height: 300px;
  padding:10px;
}

.conversation-container {
  float: left;
  width:300px;
  height:250px;
  padding-left: 10 px;
}

.censored {
  color: red;
  font-weight: bold;
}
